* {
    /*
    border:1px solid #F00;
    */
    font-family: 'Nunito', sans-serif;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: #000000 url(../img/cartographer2.png) repeat 0 0;
}

.bgr {
    background: #FF0000;
}

.bgg {
    background: #00FF00;
}

.bgb {
    background: #0000FF;
}

.olc {
    outline: 2px solid #00FFFF;
    border: 2px solid #00FFFF;
}

.olm {
    outline: 2px solid #FF00FF;
    border: 2px solid #FF00FF;
}

.oly {
    outline: 2px solid #FFFF00;
    border: 2px solid #FFFF00;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    min-width: 100vw;

}

/*
.nopad-row {
    padding: 0 !important;
}
*/

.nopad-cols > [class^="col-"],
.nopad-cols > [class*=" col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.stretch {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    margin: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vert-align-cols {
    font-size: 0; /* To eliminate phantom spaces */
}

.vert-align-cols > [class^="col-"],
.vert-align-cols > [class*=" col-"] {
    height: 100%;
    display: inline-block;
    /*vertical-align: middle; /*Does nothing?*/*/
    /*float: none; /*Broke setting columns*/*/
    /*font-size: 1rem;*/
}

.vcenter-cols {
    font-size: 0 !important;
}

.vcenter-cols > [class^="col-"],
.vcenter-cols > [class*=" col-"] {
    display: inline-block;
    vertical-align: middle;
    float: none;
    /*font-size: 1rem;*/
}

.vertical-align {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    height: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.text-col {
    height: 100%;
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
    /*padding: 0 1vw 2vh;*/
}

.text-col * {
    font-size: 1.5vw;
}

.vc-text {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.option-popover {
    max-width: 400px;
    width: 250%;
}

.view-container {
    /*padding: 1.5vh 3.5vw;*/
}

.map-container {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    /*background-color: rgba(209, 155, 246, .3);*/
    position: relative;
}

.map-col {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.info-col {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    /*background: url(../img/cloth_alike.png) repeat 0 0;*/
    background: #F3FAFE;
}

.info-col > .row {
    margin: 0;
}

.info-col > .row > [class^="col-"],
.info-col > .row > [class*=" col-"] {
    padding: 0;
}

.title-row {
    height: 10vh;
}

.tab-row {
    height: 80vh;
}

.inner {
    padding: 5vh 5vw;
}

/*
.map-container:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/cloth_alike.png) repeat 0 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}
*/

.map {
    width: 100%;
    height: 100%;
    /*border: 20px dashed #00518B;*/
    /*box-shadow: 0 0 3px 0px #109CFF;*/
    isolation: isolate;
    z-index: 0;
}

.data-status-icon {
    height: 4vw;
    width: 4vw;
    z-index: 1;
    position: absolute;
    top: 92.5%;
    left: 92.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 10px;
}

.data-status-icon span {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3.2vw;
    line-height: 4vw;
    padding: -1px 0 0 -1px;
}
.data-icon-red {
    border-color: #7F0000;
    color: #7F0000;
    background-color: #FF7F7F;
}

.data-icon-yellow {
    border-color: #7F7F00;
    color: #7F7F00;
    background-color: #FFFF7F;
}

.data-icon-green {
    border-color: #007F00;
    color: #007F00;
    background-color: #7FFF7F;
}

.title-box {
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vw;
    color: #FF3500;
    text-shadow: 0 0 1px rgba(142, 229, 77, .5), 0 0 1px rgba(148, 199, 215, .5), -1px -1px 0 rgba(255, 255, 255, .3), 1px 1px 0 rgba(0, 0, 0, .8);
    /*
    text-shadow: -1px -1px 0px rgba(142, 229, 77, .5), 1px 1px 0px rgba(148, 199, 215, .5);
    */
}

.leaflet-container {
    /*border-radius: 0 !important;*/
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 1.5rem !important;
    border-bottom-right-radius: 0 !important;
}

/*
 * Not
 * .leaflet-control-layers (layers button)
 */

/*
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: calibri;
}
.strike span {
    text-decoration: line-through;
    color: $ccc;
}
.todos {
    padding: 20px;
}
.todo {
    padding: 10px;
    font-size: 21px;
    border-bottom: 1px solid;
}
.todo .btn {
    margin-left: 5px;
    width: 72px;
}
.todo:hover {
    background: #e7e7e7;
}
@media (max-width: 991px) {
    .todo .btn {
        margin-bottom: 10px;
    }
    .todo input[type=checkbox] {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 991px) {
    .todo .btn-warning {
        margin-top: 10px;
        margin-left: 0px;
    }
}
@media (max-width: 450px) {
    .todo .col-xs-8 {
        width: 85%;
    }
    .todo .col-xs-3 {
        width: 100%;
        text-align: center;
        border-top: 1px dashed #aaa;
        padding-top: 10px;
        margin-top: 10px;
    }
}
*/
