.tab-container {
    height: 100%;
    background: rgba(127, 0, 127, .3);
}

.tabs-right {
    height: 100%;
}

.tabs-right > .nav-tabs {
    border-bottom: 0;
}

.tabs-right > .nav-tabs::after {
    clear: both;
}

.tab-content {
    height: 100%;
    overflow: hidden;
    /*padding: 0 1vw;*/
}

.tab-content > .tab-pane {
    height: 100%;
    display: none;
}

.tab-content > .active {
    display: block;
}

.tab-template {
    /* */
}

.tab-template > .row {
    margin: 0;
}

.tabs-right > .nav-tabs > li {
    height: calc(100% / 4);
    margin: 0;
    float: none;
}

.tabs-right > .nav-tabs > li *:not(.tab-icon) {
    font-size: 0;
}

.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    height: 100%;
    margin-right: 0;
}

.tabs-right > .nav-tabs > li > a::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tabs-right > .nav-tabs {
    height: 100%;
    width: 4vw;
    float: right;
    margin-left: 0;
    border-left: 1px solid #DDD;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 8px 8px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #EEEEEE #EEEEEE #EEEEEE #DDDDDD;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    /*float: left;*/
    border-color: #DDD #DDD #DDD transparent;
    *border-left-color: #FFFFFF;
}

.tab-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.tab-title-row {
    height: 8vh;
}

.settings-container-row {
    height: 72vh;
}

.settings-container-row > [class^="col-"],
.settings-container-row > [class*=" col-"] {
    height: 24vh;
}

.settings-row {
    height: 50%;
    margin: 0;
}

.settings-row > [class^="col-"] > *,
.settings-row > [class*=" col-"] > * {
    height: 12vh;
    width: 100%;
}

.center-coords-container,
.center-coords-container .row {
    margin: 0;
}

.center-coord-row {
    padding: 0 1vw;
}
