.tab-container {
    height: 100%;
    /*background: rgba(127, 0, 127, .3);*/
}

.tabs-right {
    height: 100%;
}

.tabs-right > .nav-tabs {
    border-bottom: 0;
}

.tabs-right > .nav-tabs::after {
    clear: both;
}

.tab-content {
    height: 100%;
    /*overflow: hidden;*/
    overflow-x: hidden;
    overflow-y: scroll;
    /*padding: 0 1vw;*/
}

.tab-content > .tab-pane {
    height: 100%;
    display: none;
}

.tab-content > .active {
    display: block;
}

.tab-template {
    padding: .5vh .5vw;
}

.tab-template > .row {
    margin: 0;
}

.tabs-right > .nav-tabs > li {
    height: calc(100% / 4);
    margin: 0;
    float: none;
}

.tabs-right > .nav-tabs > li *:not(.tab-icon) {
    font-size: 0;
}

.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    height: 100%;
    margin-right: 0;
}

.tabs-right > .nav-tabs > li > a::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tabs-right > .nav-tabs {
    height: 100%;
    width: 4vw;
    float: right;
    margin-left: 0;
    border-left: 1px solid #DDD;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 8px 8px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #EEEEEE #EEEEEE #EEEEEE #DDDDDD;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    /*float: left;*/
    border-color: #DDD #DDD #DDD transparent;
    *border-left-color: #FFFFFF;
}

.tab-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.tab-title-row {
    height: 8vh;
    /*border: 2px solid red;*/
    /*border-bottom: initial;*/
    /*border-radius: 10px 10px 0 0;*/
}

.tab-title {
    font-size: 3vw;
}

.tab-content-container {
    /*border: 2px solid red;*/
    /*border-radius: 0 0 10px 10px;*/
}

.tab-box {
    margin: 15px 0;
    background-color: #F7FCFF;
    border: 4px solid #C979FF;
    border-radius: 15px;
    height: 15vh;
}

.tab-box-header {
    background-color: #C979FF;
    margin-top: -4px;
    height: 5vh;
}

.tab-box-header-left {
    border-top-left-radius: 15px;
    margin-left: -19px;
}

.tab-box-header-right {
    border-top-right-radius: 15px;
    margin-right: -19px;
}

.tab-box-heading {
    line-height: 5vh;
    margin: 0;
}

.tab-box-content,
.tab-box-content > [class^="col-"],
.tab-box-content > [class*=" col-"] {
    height: 10vh;
}

.tab-box-half-row {
    height: 5vh;
}

.tab-box-half-row > [class^="col-"],
.tab-box-half-row > [class*=" col-"] {
    height: 100%
}

.tab-box-div-right {
    border-right: 2px solid #C979FF;
}

.tab-box-div-left {
    border-left: 2px solid #C979FF;
}

.tab-box-label {
    margin: 0;
}

.tab-box-btn {
    height: 100%;
    padding: 4px 0 0 0;
    margin: -4px 0 0 0;
}

.tab-box-btn > a {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border-bottom-right-radius: 12px;
    border-top: none;
    border-right: 4px solid #F7FCFF;
    border-bottom: none;
    border-left: 4px solid #F7FCFF;
    background-color: #F7FCFF;
    padding: 0;
}

.tab-box-btn > a:hover,
.tab-box-btn > a:focus {
    /* */
}

.tab-box-btn-icon {
    font-size: 4vw;
    color: #FF3500;
    text-shadow: #00518B 0 0 1px;
    margin: 5px 0 0 0;
}

.tab-icon {
    font-size: 3vw;
    color: #FF3500;
    text-shadow: #00518B 0 0 1px;
    text-align: left;
    margin: 0 0 0 -8px;
}

/*
.match-cols {
    overflow: hidden;
}

.match-cols [class^="col-"],
.match-cols [class*=" col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
*/

.settings-container {
    /*height: 72vh;*/
}

.settings-container > [class^="col-"],
.settings-container > [class*=" col-"] {
    height: 24vh;
}

.settings-row {
    height: 50%;
    margin: 0;
}

.settings-row > [class^="col-"] > *,
.settings-row > [class*=" col-"] > * {
    height: 12vh;
    width: 100%;
}

.center-coord-row {
    padding: 0 1vw;
}

.center-coord {
    box-shadow: none;
}

.api-accordion-header {
    font-size: 1vw;
}

.api-desc {
    font-size: 1.2vw;
    text-align: left;
}

.input-list {
    margin-left: -10px;
    margin-right: -10px;
    margin: 0 -10px
}

.spec-container {
    /* */
}

.codeblock-container * {
    line-height: 1;
    text-align: left;
    width: 100%;
}

.iphm-code {
    font-size: 1.25vw;
    color: #2684C7;
}

.api-input-names {
    text-align: right;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.api-input-name {
    color: #C74626;
    white-space: nowrap;
    text-align: right;
}

.api-input-desc {
    font-size: 18px;
    text-align: left;
    white-space: pre-wrap;
    margin: 0;
}

.dev-tech-link:link {
    color: #C00;
}

.dev-tech-link:visited {
    color: #0C0;
}

.dev-tech-link:hover {
    color: #00C;
}

.dev-tech-link:active {
    color: #CCC;
}

.dev-tech-desc {
    font-size: 18px;
    text-align: left;
    margin: 0;
}

/*
.api-notes-list > li {
    text-align: left;
    display: block;
}

.api-notes-list > li:before {
    content: "\002a";
    font-family: "Glyphicons Halflings";
    font-size: 18px;
    padding-right: 7px;
}
*/
