<form class="row nopad-cols form-inline">
  <div class="col-xs-12 form-group">
    <div class="row nopad-cols center-coord-row tab-box-half-row">
      <div class="col-xs-3">
        <label
          for="Center Latitude"
          class="vc-text tab-box-label">
          Lat.
        </label>
      </div>
      <div class="col-xs-9">
        <input
          type="number"
          class="vc-text input-group center-coord"
          id="Center Latitude"
          ng-model="centerCtrl.center.lat">
      </div>
    </div>
    <div class="row nopad-cols center-coord-row tab-box-half-row">
      <div class="col-xs-3">
        <label
          for="Center Longitude"
          class="vc-text tab-box-label">
          Lng.
        </label>
      </div>
      <div class="col-xs-9">
        <input
          type="number"
          class="vc-text input-group center-coord"
          id="Center Longitude"
          ng-model="centerCtrl.center.lng">
      </div>
    </div>
  </div>
</form>
