<div class="jumbotron text-center">
  <leaflet
    bounds="bounds"
    lf-center="center"
    layers="layers"
    width="100%"
    height="480px">
  </leaflet>
  <h3>
    Heatmap example!
  </h3>
  <h2>
    Southleft
  </h2>
  <form>
    Lat : <input type="number" step="any" ng-model="bounds.southWest.lat" />
    Lng : <input type="number" step="any" ng-model="bounds.southWest.lng" />
  </form>
  <h2>
    Northright
  </h2>
  <form>
    Lat : <input type="number" step="any" ng-model="bounds.southWest.lat" />
    Lat : <input type="number" step="any" ng-model="bounds.southWest.lat" />
  </form>
  <p>
    This example uses the <a href="https://github.com/Leaflet/Leaflet.heat">Leaflet.heat</a> library.
  </p>
  <p>The example is inspired in <a href="https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap?hl=es">this</a> Google Maps Heat example.
  </p>
</div>
