<div class="container-fluid text-center map-container inner">

  <div class="row vert-align-cols nopad-cols stretch">

    <div class="col-xs-7 map-col">
      <leaflet
        defaults="mapCtrl.defaults"
        bounds="mapCtrl.bounds"
        lf-center="mapCtrl.center"
        layers="mapCtrl.layers"
        class="map">
      </leaflet>
      <span class="data-status-icon data-icon-{{ mapCtrl.dataStatus.getStatus().color }}"><span class="glyphicon glyphicon-{{ mapCtrl.dataStatus.getStatus().icon }}"></span></span>
    </div>

    <div class="col-xs-5 info-col">
      <div class="row vert-align-cols nopad-cols title-row">
        <div class="col-xs-12 text-col">
          <h2 class="title-box vc-text">
            IPv6 Heatmap
          </h2>
        </div>
      </div>
      <div class="row vert-align-cols tab-row">
        <div class="col-xs-12 text-col">
          <div class="tab-container">



            <uib-tabset
              active="mapCtrl.activeTab"
              vertical="true"
              template-url="/tabs/right-tabs.template.html">
              <!--
                Ideally, this would be {{ mapCtrl.tabsetTemplateUrl }},
                so the tab formatting can be changed dynamically.
                NTFS: This is difficult because template-url does not
                automatically interpolate angular expressions, but
                ng-attr-template-url does not interpolate until after
                the directive has failed to compile.
              -->
              <uib-tab
                ng-repeat="tab in mapCtrl.tabs"
                index="$index">
                <uib-tab-heading>
                  <span class="tab-icon {{ tab.glyphicon }}"></span>
                </uib-tab-heading>
                <div ng-include="tab.templateUrl"></div>
              </uib-tab>
            </uib-tabset>



          </div>
        </div>
      </div>

    </div>

  </div>

</div>
