<div class="container-fluid jumbotron text-center">
  <div class="row vertical-align">
    <div class="col-md-8">
      <leaflet
        bounds="mapCtrl.bounds"
        lf-center="mapCtrl.center"
        layers="mapCtrl.layers"
        width="100%"
        height="480px">
      </leaflet>
    </div>
    
    <div class="col-md-4"><div>
      <div class="row">
        <div class="col-md-6">
          <p>
            Downloading: {{ mapCtrl.status.downloading }}
          </p>
        </div>
        <div class="col-md-6">
          <p>
            Downloaded: {{ mapCtrl.status.downloaded }}
          </p>
        </div>
      </div>
      <div class="row"> <!-- Settings -->
        <div class="col-md-12">
          <form class="row form-inline">
            <div class="form-group col-md-6">
              <iphm-map-option value="mapCtrl.hmSettings.radius"></iphm-map-option>
            </div>
            <div class="form-group col-md-6">
              <!-- v directive -->
              <div class="row">
                <div class="col-md-1"></div>
                <label
                  for="blur"
                  class="col-md-4 vcenter">
                  Blur
                </label>
                <div class="input-group col-md-6 vcenter">
                  <input
                    type="number"
                    class="form-control"
                    id="blur"
                    placeholder="0">
                  <span class="input-group-addon">
                    def: 2
                  </span>
                </div>
                <div class="col-md-1"></div>
              </div>
              <!-- ^ directive -->
            </div>
          </form>
          <form class="row form-inline">
            <div class="form-group col-md-6">
              <div class="row">
                <div class="col-md-1"></div>
                <label
                  for="minopacity"
                  class="col-md-4 vcenter">
                  Min. Opacity
                </label>
                <div class="input-group col-md-6 vcenter">
                  <input
                    type="number"
                    class="form-control"
                    id="minopacity"
                    placeholder="0">
                  <span class="input-group-addon">
                    def: 2
                  </span>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="row">
                <div class="col-md-1"></div>
                <label
                  for="maxzoom"
                  class="col-md-4 vcenter">
                  Max. Zoom
                </label>
                <div class="input-group col-md-6 vcenter">
                  <input
                    type="number"
                    class="form-control"
                    id="maxzoom"
                    placeholder="0">
                  <span class="input-group-addon">
                    def: 2
                  </span>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      
      <div class="row"> <!-- Coordinates -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>
                Latitude
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    North
                  </p>
                </div>
                <div class="col-md-8">
                  <p><small>
                    {{ mapCtrl.bounds.northEast.lat }}
                  </p></small>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>
                    South
                  </p>
                </div>
                <div class="col-md-8">
                  <p><small>
                    {{ mapCtrl.bounds.southWest.lat }}
                  </p></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3>
                Longitude
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <p>
                    Left
                  </p>
                </div>
                <div class="col-md-8">
                  <p><small>
                    {{ mapCtrl.bounds.southWest.lng }}
                  </p></small>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>
                    Right
                  </p>
                </div>
                <div class="col-md-8">
                  <p><small>
                    {{ mapCtrl.bounds.northEast.lng }}
                  </p></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row"> <!-- Actions -->
        <div class="col-md-6">
          <button ng-click="mapCtrl.testbutton();">
            Test MapCtrl
          </button>
          <button ng-click="mapCtrl.toggleDynamic();">
            Toggle dynamic loading<br>
            (currently {{ !!mapCtrl.dynamic }})
          </button>
          <a
            href="#"
            class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-map-marker"></span>
            Set map bounds
          </a>
        </div>
        <div class="col-md-6">
          <a
            href="#"
            class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-download-alt"></span>
            Download data
          </a>
        </div>
      </div></div>
      
      
      
      
      
      
      
      
      
    </div>
  </div>
</div>
