<div class="jumbotron text-center">
  <leaflet
    bounds="bounds"
    lf-center="center"
    layers="layers"
    width="100%"
    height="480px">
  </leaflet>
  <h3>
    Heatmap example! Still loading: {{ loading }}
  </h3>
  
  <div class="mapcontrol">
    <div>
      <h2>
        Southleft
      </h2>
      <form>
        Lat : <input type="number" step="any" ng-model="bounds.southWest.lat" />
        Lng : <input type="number" step="any" ng-model="bounds.southWest.lng" />
      </form>
    </div>
    <div>
      <h2>
        Northright
      </h2>
      <form>
        Lat : <input type="number" step="any" ng-model="bounds.northEast.lat" />
        Lng : <input type="number" step="any" ng-model="bounds.northEast.lng" />
      </form>
    </div>
  </div>
  <button ng-click="testFun()">OK</button>
  <p>
    {{ count }}
  </p>
  <p>
    Stuff
  </p>
</div>
