<div class="container-fluid text-center map-container inner">

  <div class="row vert-align-cols nopad-cols stretch">

    <div class="col-xs-8 map-col">
      <leaflet
        defaults="mapCtrl.defaults"
        bounds="mapCtrl.bounds"
        lf-center="mapCtrl.center"
        layers="mapCtrl.layers"
        class="map">
      </leaflet>
    </div>

    <div class="col-xs-4 info-col">
      <div class="row vert-align-cols title-row">
        <div class="col-xs-12 text-col">
          <div class="size-test"></div>
          <h2 class="title-box vc-text">
            IPv6 Heatmap
          </h2>
        </div>
      </div>
      <div class="row vert-align-cols tab-row olm">
        <div class="col-xs-12 text-col">
          <div class="tab-container">

            <!-- Tabs go here -->

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
