<div class="tab-template settings-tab">

  <div class="row tab-title-row">
    <div class="col-xs-12">
      <h2 class="tab-title">Settings</h2>
    </div>
  </div>

  <div class="row tab-content-container settings-container">

    <div class="col-xs-12">
      <form class="row settings-row form-inline vert-align-cols nopad-cols">
        <div class="col-xs-6 form-group">
          <iphm-map-option setting="mapCtrl.hmSettings.radius"></iphm-map-option>
        </div>
        <div class="col-xs-6 form-group">
          <iphm-map-option setting="mapCtrl.hmSettings.minOpacity"></iphm-map-option>
        </div>
      </form>
      <form class="row settings-row form-inline vert-align-cols nopad-cols">
        <div class="col-xs-6 form-group">
          <iphm-map-option setting="mapCtrl.hmSettings.blur"></iphm-map-option>
        </div>
        <div class="col-xs-6 form-group">
          <iphm-map-option setting="mapCtrl.hmSettings.maxZoom"></iphm-map-option>
        </div>
      </form>
      <div class="row button-row">
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
          <a
            href="#"
            class="btn btn-info btn-lg"
            ng-click="mapCtrl.setOptions();">
            <span class="glyphicon glyphicon-ok"></span>
            Set
          </a>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
          <a
            href="#"
            class="btn btn-info btn-lg"
            ng-click="mapCtrl.setDefaults();">
            <span class="glyphicon glyphicon-repeat"></span>
            Reset
          </a>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>
  </div>

</div>
